body {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0;
    background-color: #f1f5f8;
    color: #333; 
}


.reviews {
    max-width: 900px; /* beperkt de maximale breedte van de reviews sectie */
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #8b0000; 
    font-size: 24px; 
    margin-bottom: 20px; 
}

/* stijlen voor individeule reviews */
.review {
    border-bottom: 1px solid #ddd; /* voegt een onderrand toe */
    padding: 15px 0;
    font-style: italic; 
}

/* stijlen voor paragrafen binnen reviews */
.review p {
    margin: 10px 0;
    font-size: 16px;
}

/* stijlen voor review afbeeldingen */
.review-image {
    width: 200px;
    height: 200px; 
    object-fit: cover;
    border-radius: 10px; 
}

nav {
    background-color: #8b0000;
    padding: 10px; 
    text-align: center; 
    position: sticky; /* maakt de navigatie balk sticky */
    top: 0; /* zorgt ervoor dat de navigatie balk bovenaan blijft */
    z-index: 1000; /* zorgt ervoor dat de navigatie balk boven andere elementen blijft */
}

nav a {
    color: white; 
    padding: 10px 15px; 
    text-decoration: none; 
    font-weight: bold; 
}

/* zweef efect voor links in de navigatie balk */
nav a:hover {
    background-color: white;
    color: #000000;
    border-radius: 5px;
}

